.main {
  width: 80%;
  margin: 0 auto;
}

@media only screen and (max-width: 1235px) {
  .main {
    width: 90%;
  }
}

@media only screen and (max-width: 900px) {
  .main {
    width: 95%;
  }
}

#chart-wrapper {
  clear: both;
  box-shadow: 0px 1px 9px #ccc;
  position: relative;
  top: 1em;
  background-color: white;
  width: 100%;
  overflow: hidden;
}

.chart {
  width: 100%;
  min-height: 450px;
}

#left {
  float: left;
  width: 35%;
  border: 1px solid #ccc;
  box-shadow: 0px 1px 9px #ccc;
  margin-top: 2em;
  padding-bottom: 3em;
}

#right {
  float: right;
  width: 63%;
  border: 1px solid #ccc;
  box-shadow: 0px 1px 9px #ccc;
  margin-top: 2em;
  height: 420px;
  overflow-y: scroll;
  overflow-x: hidden;
}

@media only screen and (max-width: 1235px) {
  #right {
    width: 100%;
    float: none;
  }
  #left {
    width: 100%;
    float: none;
  }
}

@media only screen and (max-width: 1235px) {
  #right {
    width: 100%;
    float: none;
  }
  #left {
    width: 100%;
    float: none;
  }
}

#form-wrapper {
  padding: 1em;
}

#form-col-wrapper {
  padding-top: 1em;
}

#form-left {
  float: left;
  width: 50%;
  border-right: 1px dotted #ccc;
}

#form-right {
  float: right;
  width: 43%;
  bottom: 20px;
}

textarea::placeholder {
  color: #ccc;
  text-indent: 5px;
  line-height: 2em;
  font-family: "Roboto", sans-serif;
}
textarea {
  color: #000;
  text-indent: 5px;
  line-height: 2em;
  font-family: "Roboto", sans-serif;
}

.form-footer {
  clear: both;
}
#right-wrapper {
  padding: 1em;
}
form h1 {
  font-family: "Roboto Slab", serif;
  color: #333;
  margin: 4px 0;
  padding-bottom: 0.5em;
  border-bottom: 1px dotted #ccc;
}

h3 {
  color: #3366cc;
}

h2 {
  color: #3366cc;
  border-bottom: dotted 1px #ccc;
}

ul {
  list-style-type: none;
  padding: 1em;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #efefef;
  width: 90%;
  margin: 1em auto;
}

li {
  display: inline;
  margin-right: 1em;
}

textarea {
  width: 100%;
  height: 2em;
}

.submit-button {
  position: relative;
  float: right;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: #ffffff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  display: block;
  background: #be3110;
  background-image: -webkit-linear-gradient(top, #dc3912, #be3110);
  background-image: -moz-linear-gradient(top, #dc3912, #be3110);
  background-image: -ms-linear-gradient(top, #dc3912, #be3110);
  background-image: -o-linear-gradient(top, #dc3912, #be3110);
  background-image: linear-gradient(to bottom, #dc3912, #be3110);
}

.submit-button:hover {
  background: #dc3912;
  background-image: -webkit-linear-gradient(top, #be3110, #dc3912);
  background-image: -moz-linear-gradient(top, #be3110, #dc3912);
  background-image: -ms-linear-gradient(top, #be3110, #dc3912);
  background-image: -o-linear-gradient(top, #be3110, #dc3912);
  background-image: linear-gradient(to bottom, #be3110, #dc3912);
}

.person {
  font-size: 16px;
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  color: #ffffff;
  padding: 5px 10px;
  text-decoration: none;
  border: none;
  background: #ccc;
}
.task-diff {
  font-size: 16px;
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  color: #ffffff;
  padding: 5px 10px;
  text-decoration: none;
  border: none;
  background-color: #ccc;
}

.easy {
  background-color: #3366cc;
}

.hard {
  background-color: #dc3912;
}

.moderate {
  background-color: #ff9900;
}

.task-descrip {
  line-height: 2em;
}

.basic {
  width: 200px;
  height: 35px;
}

.full {
  width: 102%;
  height: 35px;
}

#detail {
  height: 242px;
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: 0;
  opacity: 0;
  padding: 30px;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.2s;
  visibility: hidden;
  &:target {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }
  .modal-inner {
    background: white;
    left: 50%;
    max-width: 800px;
    padding: 20px;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}

.modal-close {
  color: black;
  display: flex;
  font-family: Arial;
  font-size: 16px;
  justify-content: flex-end;
  text-decoration: none;
  margin-bottom: 20px;
}

.todo-item-right {
  float: right;
  cursor: pointer;
}

/* CARD */

.card {
  width: auto;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 40px;
}

.card-header {
  background-color: #ffffff;
  color: #333;
  text-align: left;
  padding: 15px;
  border-bottom: 1px solid #ccc;
}

.card-header h2 {
  margin: 0;
  font-size: 1.2rem;
}

.card-body {
  padding: 20px;
  padding-bottom: 0;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
}

input {
  padding: 8px;
  margin-bottom: 16px;
}

.card-footer {
  text-align: left;
  padding: 15px;
}

button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

@media (max-width: 600px) {
  .card {
    width: 90%;
  }
}
.nav {
  text-align: center;
}
.pointer {
  cursor: pointer;
}
